<%- include('../partials/header') %>
<nav>
  <a href="/users/home">Home</a> <!-- need to double confirm -->
  |
  <a href="/recipes">All Recipes</a>
  |
  <a href="/recipes/new">Submit Recipes</a> 
  |
  <a href="/recipes/show">My Book</a>
  |
  <a href="/recipes/fav">Fav</a>
  |
  <a href="/users/logout">Log out</a>
</nav>

<h1>View all recipes</h1> 

<ul>
    <% recipes.forEach(recipes => {%>
    <li><%=recipes.name%>%>  <%=recipes.img%>
      <form action="/recipes/ <%=recipes.id%>">
    <button type="submit" class="likeBtn">Like</button> 
  </form>
</li>
    <%})%>
  </ul>

<%- include('../partials/footer') %>