<%- include('../partials/header') %>
<div class="container-xxl px-md-5 bg-white shadow-lg">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
  </a>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/users/home" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="/recipes" class="nav-link px-2 link-secondary">All Recipes</a></li>
    <li><a href="/recipes/new" class="nav-link px-2 link-secondary">Submit Recipe</a></li>
    <li><a href="/users/book" class="nav-link px-2 link-secondary">My Book</a></li>
    <!-- <li><a href="/users/fav" class="nav-link px-2 link-secondary">Fav</a></li> -->
  </ul>
  <div class="col-md-3 text-end">
  <button type="button" class="btn btn-outline-primary me-2"><a href="/users/logout">Log out</a></button>
  </div>
</header>
 <!-- Recipes Details Start-->
<section class="show-page">
<div class="row justify-content-center">
<div class="col-8">
<form id="new-form" action="/recipes" method="POST" >
  <br>  <!-- views/recipes/fav.ejs -->
  <form action="=/recipes/fav" method="get">  
    <h1><pre><%= recipe.name %></pre></h1> 
    <button type="button" class="heart-button btn btn-sm btn-outline-secondary"><a href="/users/fav">like</a></button> 
  </form> 
  <br><br>
  <div for="category" class="col-12">Category: <pre><%= recipe.category %></pre></div>
    <br>
  <div for="ingredients" class="form-label">Ingredients:</div> 
    <br>
  <div><pre><%= recipe.ingredients %></pre></div>
    <br>
  <div for="methods" class="col-12">Methods:</div> 
    <br>
  <div><pre><%= recipe.methods %></pre></div> 
    <br>
  <div for="duration" class="col-12">Duration: <pre><%= recipe.duration %></pre></div>
    <!-- <div for="image" class="col-12">Image link: <%= recipe.image %>"</div> -->
    <br>
  <button type="button" class="btn btn-sm btn-outline-secondary me-2"><a href="/recipes">All Recipes</a></button> 
    <br>
</form>
</div>
</div>
</section>
<!-- Recipes Details End-->

<br>

<!-- Add Review Section Start-->

<h1> To add Review here</h1>
<section class="show-page">
  <div class="row justify-content-center">
<div class="col-8">
<form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/reviews">
  <label class="form-label">Review:</label> <br />
    <input class="form-control border border-secondary" cols="30" rows="2" name="content">
    <button type="submit" class="btn btn-secondary" value="Add Comments">Submit</button>
</form>
</div>
</div>
</section>
<!-- Add Review Section End-->
<!-- //! to continue -->
<!-- Display Review Section Start-->
<h1> Display Review here</h1>
<section class="show-page"> 
  <div class="col-8 row justify-content-center ">

<!-- to add the review content here -->

    <% if (recipe.review.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date :</th>
          <th>Review :</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.review.forEach(function(review) { %>
          <tr>
            <td>
              <%= review.createdAt.toLocaleDateString() %>
            </td>
            <td>
              <%= review.content %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
      <% } %>
  </div>
</section>
<br>
<!-- Display Comments Section End-->

<%- include('../partials/footer') %>

</div>



